.Validated .Error,
.FormField .Error {
  margin: 0 0 0.5rem 0;
  color: red;
  font-size: 12px;
}

.FormField {
  padding: 0.5rem 0 0 0;
}

.FormField label {
  font-size: 14px;
  font-weight: bold;
}

.FormField input {
  width: 100%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 0.25rem;
  border: 1px solid #d8d8d8;
  font-size: 14px;
}

.FormField.invalid input {
  border: 1px solid red;
}
