.Pagination {
  margin: 0.5rem;
  padding: 1rem;
}

.Pagination-paginate {
  display: inline-block;
  font-weight: 400;
  color: #dc3545;
  border: 1px solid #dc3545;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.Pagination-paginate:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.Pagination-paginate:active {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.Pagination-stats {
  margin: 0 0 0.5rem 0;
}
